.footer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color:black;
    font-size: 46px;
    font-weight:700;
    color: #d90fd3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer-links {
    display:flex;
    list-style: none;
    gap:40px;
    color:black;
    font-size:18px;
}
.footer-links li{
    cursor:pointer;
}
.footer-social-icon{
    display:flex;
    gap:20px;
    cursor: pointer;
}
.footer-icons-container{
    padding:10px;
    padding-bottom:5px;
    background: #f9f7f7;
    border:none;
    border-radius: 30px;
}
.footer-copyright{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:25px;
    width:100%;
    margin-bottom: 30px;
    color:black;
    font-size:18px;
}
.footer-copyright hr{
    width:80%;
    border:none;
    border-radius:10px;
    height:2px;
    background: #c7c7c7;
}


